<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>АвтоМаг</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/index}">АвтоМаг</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" th:href="@{/index}">Все<span class="sr-only">(current)</span></a>
                <!--<a class="nav-item nav-link" th:href="@{|/tasks/done/true|}">Выполненные</a>
                <a class="nav-item nav-link" th:href="@{|/tasks/done/false|}">Новые</a> -->
                <a class="nav-item nav-link" th:href="@{/tasks/myPosts}">Мои объявления</a>
                <a class="nav-item nav-link" th:href="@{/tasks/findByAttributes}">Поиск по параметрам</a>
                <li class="nav-item dropdown" th:if="${user.name == 'Гость'}" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${user.name}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/users/loginPage}">
                            <span>Войти</span>
                        </a>
                        <a class="dropdown-item" th:href="@{/users/formAdd}">
                            <span>Зарегистрироваться</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:if="${user.name != 'Гость'}" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${user.name}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/users/formEdit}">
                            <span>Редактировать профиль</span>
                        </a>
                        <a class="dropdown-item" th:href="@{/users/logout}">
                            <span>Выйти</span>
                        </a>

                    </div>
                </li>

            </div>
        </div>
    </nav>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Объявление</th>
                <th scope="col">Цена</th>
                <th scope="col">Время создания</th>
                <th scope="col">Фото</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post: ${posts}">
                <td th:text="${post.id}" />
                <td>
                    <a th:href="@{|/posts/formShow/${post.id}|}">
                        <span th:text="${post.car.carModel.name}"></span>
                    </a>
                </td>


                <!-- может не быть элементов массива, тогда вылетит ошибка-->
<!--
                <td th:text="${post.priceHistory[0].after}" />
-->
                <td>
<!--
                    <span th:if="${#lists.size(post.priceHistory) > 0}">
                        <a th:text="${post.priceHistory[0].after}"></a>
                    </span>
                    <span th:if="${#lists.size(post.priceHistory) == 0}">
                        <a>Без цены</a>
                    </span>
-->
                    <a th:text="${post.price}"></a>
                </td>

                <td th:text="${#temporals.format(post.created, 'dd-MM-EE-yyyy HH:mm:ss')}" />
                <td>


                    <!-- может не быть элементов массива, тогда вылетит ошибка-->
<!--
                    <img th:width="150" th:high="150" th:src="@{|/files/${post.files[0].id}|}">
-->
                    <span th:if="${#lists.size(post.files) > 0}">
                        <img th:width="150" th:high="150" th:src="@{|/files/${post.files[0].id}|}">
                    </span>
                    <span th:if="${#lists.size(post.files) == 0}">
                        <a>Без фотографий</a>
                    </span>

                    <!--
                                        <img th:src="@{/files/{fileId}(fileId=*{fileId})}" class="w-100" alt="No image">
                    -->
<!--
                    <img th:src="@{/files/${post.files[0].id}" class="w-100" alt="No image">
-->
                </td>

                <td>
                    <span th:if="${post.publish}">
                        <i class="fa fa-check-square-o"></i>
                    </span>
                    <span th:if="${!post.publish}">
                        <i class="fa fa-square-o"></i>
                    </span>
                    <span th:if="${post.userId == user.id}">
                        <a th:href="@{|/posts/edit/${post.id}|}">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>

                    </span>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="card-body">
            <form th:action="@{/posts/new}">
                <button type="submit" class="btn btn-primary">Создать новое объявление</button>
            </form>
        </div>
    </div>

</div>
</body>